<IfModule mod_rewrite.c>
  RewriteEngine On

  # Impedisce l'accesso diretto a TUTTE le sottocartelle tranne "api"
  RewriteCond %{REQUEST_URI} !^/~s5606614/backend/api/
  RewriteRule ^.*$ - [F,L]
</IfModule>
