<footer>
        <div class="container-fluid text-center cali_color p-5 text-light">
            <div class="row align-items-center mx-2">

                <!-- parte logo -->
                <div class="col-xl-6 mb-5 display-3">
                    <a class="navbar-brand" href="/~s5606614/">CALI<i>ge</i></a>
                </div>

                <!-- parte info -->
                <div class="col-xl-6 mb-lg-4 align-self">
                    <h5>Realizzato dal CaliSauro</h5>
                    <ul class="list-unstyled mt-3">
                        <li class="d-inline-block p-2"><a href="https://www.instagram.com/calisauro_sw"
                                aria-label="Clicca per visitare il nostro instagram" target="_blank"> <i
                                    class="bi bi-instagram text-white"></i></a></li>
                        <li>
                            <p class="p-3 px-4">Copyright &copy; 2025 <a
                                    href="https://corsi.unige.it/off.f/2024/ins/77609?codcla=8759" target="_blank"
                                    class="text-white">Saw</a> tutti i diritti riservati</p>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </footer>
</body>

</html>